.search__error {
  margin: 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #a0a0a0;
  padding-bottom: 200px;
}

.search__error_msg {
  margin-top: 20px;
}

.search__form-error {
  margin-top: 20px;
  text-align: center;
  color: #ff004d;
}
